<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="~/Scripts/jquery-3.6.0.min.js" ></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
</head>
<body>  
    <div class="container body-content">
        @RenderPage("_Header.cshtml")
        @RenderBody()
        @RenderPage("_Footer.cshtml")
    </div>
    
</body>
</html>
